@font-face {
    font-family: 'meow';
    /* 你可以随意指定字体名称 */
    src: url('Iansui-Regular.ttf') format('truetype');
}

body {
    background-color: #303030;
    margin: 0;
    font-family: 'meow';
    font-size: 20px;
}

.opening{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: max-content;
    margin: 0 auto;
    margin-top: 90px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.opening h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;

}

.login {
    width:45%;
    height: 45%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: -3%;
}
.forlittleghost{
}
.forsnow{
    text-align: center;
    margin: 0 auto;
    width: 48%;
}
.snow{
    width:100%;
    height: 7%;
    text-align: center;
}

.login input {
    width: 280px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    width: 100%;
}
.form div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    
}
.login-regist {
    display: flex;
    justify-content: center;
    column-gap: 80px;
}
.confirm {
    background-color:#50778B;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
}
.confirm2{
    background-color: #b6b8b8;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
}

.confirm:hover {

}

.login input[type="text"],
input[type="password"] {
    border: 1px solid rgb(33, 32, 32);
    border-radius: 10px;
    width: 60%;
}

.login input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid #3b5999;
}

.login p {
    text-align: center;
}

